<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Final Survey</title>
</head>
<body>
    <h1>Car game simulation debriefing</h1>
    <p>
        <span style="font-weight: bold">Many thanks for participating in this study. As agreed, you will receive a nominal compensation of $4 for your efforts.
  </span> We did not collect or retained any information about your identity in our records. 
This experiment is design to study how presenting rating (or trends) about services may affect people tendency to share infromation and use services.
 If you have any questions or concerns I will be delighted to hear from you.
You may contact me either via the M-Turk system or via my email below. 

        Thanks again!
    </p

<p>Professor Ofer Tchernichovski [otcherni@hunter.cuny.edu]</p>

<h2>Your survey completion code is: {{rand_str}}</h2>
</body>
</html>

