{# empty Twig template #}
<html>
    <head>
        <link href="./u311/carexperiment/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="./u311/carexperiment/resources/css/carexperiment.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Flying Car</a>
                </div>
            </div>
        </nav>
        <div class="jumbotron">
            <div class="container">
                <h1>Welcome to Flying Car</h1>
                <p>You are controlling a flying car. As you fly, collect as many coins as you can. When you reach a lake try to take a ferry to shorten your ride. You complete the game when you cross all the lakes.</p>
                <h5>Compatible hardware: PC, Mac, iPad, Galaxy S4/5/6 running Google Chrome, Safari, Firefox.</h5>
                <p><a class="btn btn-success btn-lg" href="./explain.php" role="button">Click to start</a></p>
            </div>
        </div>
        <div class="container">
            
            <footer>
                <p>© U311.org</p>
            </footer>
        </div>
        <script src="./u311/carexperiment/resources/js/jquery-1.11.3.min.js" type="text/javascript"></script>
        <script src="./u311/carexperiment/resources/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="./u311/carexperiment/resources/bootstrap/js/ie10-viewport-bug-workaround.js" type="text/javascript"></script>
    </body>
</html>