<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .error {color: #FF0000;}
    </style>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>INFORMED CONSENT </title>
    </head> 
    <body>
        <div style="width: 1024px;margin-left: auto;margin-right: auto;">
            <p><strong>Instructions</strong></p>     
            <span class="error"> {{errors.Q2}}  
                <p> <b> Reading the instructions below will take you 2 minutes, but it will help you play better and faster.  </b></P>
            </span>


            <p> The simulation includes ten short driving sessions and brief surveys between sessions. 
                In each session you will drive and collect coins by tapping repeatedly on the computer mouse pad as shown below:   
            </p>
            <img src="./u311/carexperiment/resources/images/instructions/cargame_slide1.png" alt="Slide1" style="width:400px;height:520px"></img>
            <p> <b> YOU WILL NEED TO COLLECT AT LEAST 4 COINS TO RIDE THE SHUTTLE: </b> Between areas you will need to cross lakes. You can either take a detour around the lake (do it yourself)
                or use the shuttle service (4 coins per ride). To make a choice click on the buttons as shown below: </p>
            <img src="./u311/carexperiment/resources/images/instructions/cargame_slide2.png" alt="Slide1" style="width:304px;height:428px"></img>
            <p>&nbsp;</p>



            <p> <b> Important: </b> You are one of several people who are playing this simulation now. Scoring your experience with the the shuttle performance
                and providing accurate feedback (not compliments) is likely to improve services, but only if other participantes are also engaged in sending feedback. 
                It is entirely up to you to determine if it worth investing your time collecting coins and scoring shuttle services or not. Scores range from 1 (poor) to 5 (great). 
                Note that you will always be able to take the detour instead. </p>


            <img src="./u311/carexperiment/resources/images/instructions/cargame_slide3.png" alt="Slide1" style="width:304px;height:428px"></img>
            <!--
            <p> In some cases, as the game proceeds, you will be able to see the average scores of other players on the shuttle sign. 
            This information about current and previous scores, if provided, might be useful for making your choices. 
            Hint: if available, pay attention to both the scores and the trends (now, 2 min ago, 5 min ago, etc). 
            </p>
          
            
            <img src="./u311/carexperiment/resources/images/instructions/cargame_slide4.png" alt="Slide1" style="width:304px;height:428px">
            -->
            <p>&nbsp;</p>

            <p><strong>INFORMED CONSENT</strong></p>


            <p> You are being asked to participate in this research study because you are interested in participating in a 
                behavioral study. The purpose of this research study is to to promote our scientific knowledge, and the understanding of 
                human social behavior. If you agree to participate, we will ask you to to play a driving simulation game. The duration of 
                the simulation is about 40 minutes total. We request that you play it in a relaxed (preferably home) environment.  The 
                simulation game includes four driving sessions of about ten minutes each, brief surveys between session, and a brief 
                final survey. We will pay you $4 for completing this simulation. The simulation game will only collect statistical data. 
                No identifiable information will be collected. All statistical data obtained through this simulation game and 
                surveys will be stored on secure servers at Hunter College. Your participation in this research is voluntary. If you 
                have any questions, you can contact Professor Ofer Tchernichovski [otcherni@hunter.cuny.edu]. If you have any questions about your
                rights as a research participant or if you would like to talk to someone other than the researchers, you can contact 
                CUNY Research Compliance Administrator at 646-664-8918.  </p>

            <div style="text-align:center;font-size: 20px;">
            <button style="font-size: 20px;" id="agree" onclick="window.location.href = '{{game_url}}';">I Agree</button> 
            <a href="{{logout_url}}">No thanks</a>
            </div>
        </div>
    </body>
</html>
